# --- Archivos de python

# Entornos virtuales
venv/
.env/
.venv/
env/

#El archivo
.env

# Archivos compilados
__pycache__/
*.pyc

# Archivos de configuración locales
*.log
*.sqlite3

# Achivos json sensibles
*.json

# Archivos Excel
*.csv
*.xlsx
*.xls

# --- Archivos de Java

# IDE IntelliJ
.idea/
*.iml

# Compilados
*.class

# Maven
target/

# Logs
*.log

# Archivos de configuración locales
**/resources/config.properties